*{

	margin: 0;                                     
	padding: 0;                                   
	font-family: Arial, Helvetica, sans-serif;    
}

html{

	font-size: 62.5%;                          

}

.form_login{

	width:  700px;      
	margin: 7rem auto;   

h1{   

	font-size: 4rem;                 
	margin-bottom: 2.5rem;          
	color: #0c298f;                


}
.agrupamento_login{

	display: flex;                            
	flex-direction: row;                     
	justify-content: space-between;         
	align-items: center;                   
	border: 1px solid #0c298f;            
	padding: 5rem;                       
	border-radius: 8px;                 


}
label,                       
input[type="text"],			
input[type="password"],
input[type="submit"]{


	font-size: 1.6rem;   
}

input[type="text"],
input[type="password"]{

	width: 300px;                  
	padding: 1rem;                 
	margin-top: 1.2rem;            
	margin-bottom: 1.2rem;          
	border: 1px solid #00ffe8;     
	border-radius: 8px;            

}
input[type="submit"]{      	

	width: 325px;    
	padding: 1.2rem;   
	margin-top: 1.2rem; 
	margin-bottom: 1.2rem; 
	border: 1px solid #944b6e; 
	border-radius: 8px;   
	background: #ff675a;   
	color: #FFF;     
	cursor: pointer;   

}
.logo_login{    

	width: 200px;   

}

/* cadastrar_aluno */


	margin: 0;                                     
	padding: 0;                                   
	font-family: Arial, Helvetica, sans-serif;    
	color: #0c298f;
}

html{

	font-size: 62.5%;                          

}

.form_cadastrar_aluno{

	width:  700px;      
	margin: 7rem auto;   
}

h1{   

	font-size: 4rem;                 
	margin-bottom: 2.5rem;          
	color: #0c298f;                


}
.agrupamento_cadastrar_aluno{

	display: flex;                            
	flex-direction: row;                     
	justify-content: space-between;         
	align-items: center;                   
	border: 1px solid #0c298f;            
	padding: 5rem;                       
	border-radius: 8px;                 


}
label,                       
input[type="text"],			
input[type="password"],
input[type="submit"]{


	font-size: 1.6rem;   
}

input[type="text"],
input[type="password"]{

	width: 300px;                  
	padding: 1rem;                 
	margin-top: 1.2rem;            
	margin-bottom: 1.2rem;          
	border: 1px solid #00ffe8;     
	border-radius: 8px;            

}
input[type="submit"]{      	

	width: 325px;    
	padding: 1.2rem;   
	margin-top: 1.2rem; 
	margin-bottom: 1.2rem; 
	border: 1px solid #944b6e; 
	border-radius: 8px;   
	background: #ff675a;   
	color: #FFF;     
	cursor: pointer;   

}
.logo_login{    

	width: 200px;   

}